<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Course Platform" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- GitHub logo -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  </head>

  <body>
    <%= render partial: 'layouts/navbar'%>
    
    <div class="container mt-3">
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
    </div>

    <main class="container-fluid flex-grow-1 mt-4">
      <%= yield %>
    </main>

    <!-- Footer -->
    <footer class="text-center bg-dark text-light py-3 mt-5">
      <p>
        © 2024 Course Platform. All Rights Reserved.
      </p>
      <p>
        <a href="https://github.com/beatricebretti" target="_blank" class="text-blue text-decoration-none">
          <i class="fab fa-github"></i> beatricebretti
        </a> |
        <a href="https://github.com/m-esp" target="_blank" class="text-blue text-decoration-none">
          <i class="fab fa-github"></i> m-esp
        </a> |
        <a href="https://github.com/roelckers" target="_blank" class="text-blue text-decoration-none">
          <i class="fab fa-github"></i> roelckers
        </a>
      </p>
    </footer>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </body>
</html>
