<div class="jumbotron text-center mt-5">
  <h1>Welcome to the Course Platform</h1>
  <p class="lead">Discover a world of learning opportunities and expand your knowledge with our diverse range of courses!</p>
  <%= link_to "Browse Courses", courses_path, class: "btn btn-primary btn-lg mt-3" %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h3>Popular Courses</h3>
      <p>Explore our top-rated courses, carefully selected by our team to help you learn efficiently.</p>
      <%= link_to "View Popular Courses", courses_path(popular: true), class: "btn btn-outline-primary" %>
    </div>
    <div class="col-md-4">
      <h3>New Courses</h3>
      <p>Stay up to date with the newest courses!</p>
      <%= link_to "View New Courses", courses_path(new: true), class: "btn btn-outline-primary" %>
    </div>
    <div class="col-md-4">
      <h3>Enroll Now</h3>
      <p>Join our platform today and begin expanding your knowledge.</p>
      <% if user_signed_in? %>
        <%= link_to "My Courses", my_courses_path, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
